.background {
    background: rgb(9,55,62);
    background: linear-gradient(90deg, rgba(9,55,62,1) 0%, rgba(0,65,78,1) 100%);
}

.portfolio {
    padding: 100px;
    text-align: center;
}

.portfolioTitle {
    font-size: 32px;
    text-decoration: underline;
    font-weight: bold;
    color: whitesmoke
}

.portfolioItems {
    margin-top: 40px
}

.cards {
    width: 260px;
    height: 450px;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    margin-bottom: 50px;
}

div div div div div div div.cards.card.text-white.card-body {
    margin-bottom: 20px;
}

.additionals {
    color: white;
}

.modals {
    color: white
}

.githubRedirect {
    text-decoration: underline;
}

a:visited {
    color: violet;
}

.images {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    position: relative;
}

.images:hover {
    cursor: pointer;
}

.gifs {
    width: 100%;
}
